body {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    background-color: #F9F9F9;
}

h1 {
    margin: 20px 0px;
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 52px;
}

h2 {
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

h5 {
    margin: 20px 0px 15px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p {
    margin-bottom: 10px;
    float: none;
}

a {
    color: #33B5E5;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #33B5E5;
}

li {
    margin: 0 0 5px;
}

p.intro {
    margin: 20px 0 20px 0;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
}

.date {
    color: #999;
    font-size: 18px;
    font-weight: 300;
}

.text {
    margin-top: 30px;
    margin-bottom: 15px;
}

.codeblock {
    font-family: Inconsolata, monospace;
    font-weight: 400;
    padding: 2px 4px;
    color: #333;
    white-space: pre-line;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    margin: 15px 15px;
    float: none;
}

.code {
    font-family: Inconsolata, monospace;
    font-weight: 400;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    display: inline;
}