body {
    padding: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: #5b6064;
    font-weight: 400;
    background-color: #F9F9F9;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 64px;
    color: #333;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    color: #222;
}

h4 {
    margin: 30px 0 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

h5 {
    margin: 30px 0 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

p {
    margin-bottom: 10px;
    float: none;
}

a {
    color: #33B5E5;
    /*font-style: italic;*/
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #33B5E5;
}

a:active {
    color: #FFFFFF;
    background-color: #33B5E5;
    text-decoration: none;
}

li {
    margin: 0 0 5px;
}

p.blue {
    margin-bottom: 10px;
    float: none;
    color: #33B5E5;
}

p.intro {
    margin: 20px 0 20px 0;
    font-size: 19px;
    font-weight: 300;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
}

.date {
    color: #999;
    font-size: 22px;
    font-weight: 300;
    float: left;
}

.codeblock {
    font-family: Inconsolata, monospace;
    font-weight: 400;
    padding: 2px 4px;
    color: #333;
    white-space: pre-line;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    margin: 15px 15px;
    float: none;
}

.code {
    font-family: Inconsolata, monospace;
    font-weight: 400;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p.article-list {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    display: inline;
}

img.avatar {
    float: right;
    border: 1px solid #999;
    width: 128px;
    height: 128px;
}
