<div>

    <p class="date">February 12th, 1992</p>

    <!--Social-->
    <div id="share-buttons" style="text-align: right">

        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=PAGE_URL" target="_blank">
            <img src="../images/social/facebook.png" alt="Facebook"/></a>

        <!-- Twitter -->
        <a href="http://twitter.com/share?url=PAGE_URL&text=TEXT" target="_blank">
            <img src="../images/social/twitter.png" alt="Twitter"/></a>

        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=PAGE_URLk" target="_blank">
            <img src="../images/social/google_plus.png" alt="Google"/></a>

        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=PAGE_URL" target="_blank">
            <img src="../images/social/linkedin.png" alt="LinkedIn"/></a>

    </div>

</div>