<!--Social-->
<div id="share-buttons" style="text-align: right">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://dmytrodanylyk.github.io/dmytrodanylyk/pages/PAGE_NAME.html" target="_blank">
    <img src="../images/social/facebook.png" alt="Facebook"/></a>

    <!-- Twitter -->
    <a href="http://twitter.com/share?url=http://dmytrodanylyk.github.io/dmytrodanylyk/pages/PAGE_NAME.html&text=PAGE_NAME" target="_blank">
        <img src="../images/social/twitter.png" alt="Twitter"/></a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=http://dmytrodanylyk.github.io/dmytrodanylyk/pages/PAGE_NAME.html" target="_blank">
        <img src="../images/social/google_plus.png" alt="Google"/></a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://dmytrodanylyk.github.io/dmytrodanylyk/pages/PAGE_NAME.html" target="_blank">
        <img src="../images/social/linkedin.png" alt="LinkedIn"/></a>

</div>